@charset "utf-8";

/* --汇添富log-- */
.layoutdiv{background-color: #ffffff;border-top: #c83e31 2px solid;color: #c83e31;font-weight: normal;padding-bottom: 10px;text-align: center;}
.layoutdiv h1{font-size: 14px;padding-top: 10px;}

/*表单样式*/
table.layouttable tbody { padding: 100px;}
table {border-collapse: collapse;width: 100%;}
th.FieldName {background-color: #FAF9F5;border: 1px solid #EBE7D1;color: #4E4E4E;font-size: 15px;font-weight: bold;height: 35px;text-align: right;text-decoration: none;}
td.FieldValue {background-color: #FFFFFF;border: 1px solid #EBE7D1;height: 35px;padding-left: 8px;}
th.txFieldName {border: 1px solid #EBE7D1;color: #4E4E4E;font-size: 15px;font-weight: bold;height: 35px;text-align: right;text-decoration: none;}
.InputStyle, .InputStyle2 {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #DBD5B2;color: #4E4E4E;font-size: 14px;height: 22px;padding: 0 0 0 0;vertical-align: middle;}
table#layouttable caption {color: #C83E31;font-family: "黑体";font-size: 21px;letter-spacing: 10px;line-height: 40px;text-align: center;}

/*btns 按钮*/
.operationbtn{padding:15px 0 0; text-align:center;}
.btnred01,.btnred02{background:url(/htfapp/web/images/btn.gif) no-repeat;height:30px;line-height:30px; overflow:hidden; text-align:center; border:none; font-size:14px; color:#fff; font-weight:700; cursor:pointer; margin:0 5px; padding:0 0 2px 0;}
.btnred01{background-position:0 0;width:95px;}
.btnred02{background-position:0 -55px;width:75px;}

/*多行文本框*/
.commenttextarea{width:630px;height:75px;overflow:hidden; border:solid 1px #f4f2e8;}

