 body{font-size: 12px;}
#layoutFrame{
	background-color: #ffffff;
	height: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	width: 800px;
	}
#layoutDiv{
    height: auto;
    width: 100%;
}
h1{
  font-size: 20px;
  color: #000000;
  text-align: center;
  zoom:1;
  
  font-weight: normal;
  font-family: '黑体','宋体'; MARGIN-BOTTOM: 10px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.layouttable{
  border-collapse: collapse;
  border-left: 10px;
  border-right: 10px;
  border-top: 10px;
  color: #282828;
  width: 100%;
}
th.FieldName {
	text-decoration: none;
	border-bottom: 1px solid #b7b7b7;
}
td.FieldValue {
   background-color: #efefde;
   border-bottom: 1px solid #fff;
}
.InputStyle, .InputStyle2 {
   background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #DBD5B2;
   color: #4E4E4E;
   font-size: 14px;
   height: 22px;
   padding: 0 0 0 0;
   vertical-align: middle;
   width: 90%;
}
.button.Browser{
background-color: transparent;
   background-image: url("/images/silk/search.gif");
   background-repeat: no-repeat;
   border-color: -moz-use-text-color;
   border-right: medium none;
   border-style: none;
   border-width: medium;
   overflow: hidden;
   width: 16px;
   cursor: pointer;
}
.align_c.btns{
    color:#282828;
    padding-bottom:10px;
    padding-left:0px;
    padding-right:0px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
.btns a span{
  height: 30px;
  background-image: url("../../culture/images/bg_signButtons.gif");line-height: 30px;
  background-position:0px 0px;
  background-repeat:no-repeat;
  padding-left: 4px;
  padding-bottom:0px;
  padding-right:0px;
  padding-top:0px;
  text-decoration: none;
}

.btns a:link{
   color: #282828;
   text-decoration: none;
}
.btns a div{
	margin: 0px auto;
	padding-left: 8px;
	font-size: 14px;
}
.btns a{
	height: 30px;
	text-decoration: none;
	display:inline-block;
	font-size:12px;
	line-height:1.2;
	list-style-type:circle;
	padding-bottom:0px;
	padding-left:0px;
	background: url("../../culture/images/bg_signButtons.gif") no-repeat right 0px;
	margin: 0px 2px; 
	padding-right: 15px;
	cursor: pointer;

}
.maindiv{width: 97%;height: 100%; padding: 10px 0px 10px 11px;}
maindiv,detaildiv{width: 80%;height: 80%}
.maintable{text-align: center;border:0px solid #b7b7b7;border-top: 0px white;}
.maintable tr{height: 40px;border: 1px solid #b7b7b7;}
.maindiv p{font-size: 14px;color:gray;font-weight: bold; padding: 10px 0px 10px 1px;}
.manger{font-size: 14px;}
.mang{font-size: 14px;}
.mangcss{font-size: 14px;font-weight: bold;color: gray;}
#newasso{text-decoration: none;}

.maintable td{border: 1px solid #b7b7b7;text-align: center;}
.maintable th{border: 1px solid #b7b7b7;text-align: center;font-size: 12px;border-bottom: 0px none }

.maintable table td,.maintable table th {border: 0px solid #b7b7b7;}
/*button按钮样式*/
.operationbtn{padding:15px 0 0; text-align:center;}
.btnred01,.btnred02{background:url(/htfapp/web/images/btn.gif) no-repeat;height:30px;line-height:30px; overflow:hidden; text-align:center; border:none; font-size:14px; color:#fff; font-weight:700; cursor:pointer; margin:0 5px; padding:0 0 2px 0;}
.btnred01{background-position:0 0;width:95px;}
.btnred02{background-position:0 -55px;width:75px;}



