<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="reportsearchfield2Service" parent="txProxyTemplate">
		<property name="target">
			<bean class="com.eweaver.report.service.Reportsearchfield2Service">
				<property name="reportsearchfield2Dao">
					<ref local="reportsearchfield2Dao" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="reportsearchfield2Dao" class="com.eweaver.report.dao.Reportsearchfield2DaoHB">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

</beans>