@charset "utf-8";

* {margin: 0; padding: 0;}

body {font: normal normal 12px/1.2 '宋体', Verdana, Tahoma, Arial; color:#282828; background-color: white ; }

table, tr, td, select, input, div, form, textarea {font-size: 12px;  color: #282828; line-height: 1.2}
textarea {font-family: Verdana, '宋体', Tahoma, Arial;}
select, input {vertical-align: middle; font-family: Verdana, '宋体', Tahoma, Arial;}
select { background-color: #fff}

ol, ul {list-style: none; padding: 0; margin: 0;}

table {margin: 0; padding: 0; border-collapse: collapse;}
table td {border-collapse: collapse;}

img {border: none;}
img.middle {vertical-align: middle;}
img.bottom {vertical-align: bottom;}

/* blobal headings */
h1, h2, h3 { display: block; font-size: 12px; }


/* global link */
a:link, a:visited, a:active, a:hover {text-decoration: none; /*color: #666; */color: #282828}
a:hover {text-decoration: underline; color: #C83E31}
a.underline:link, a.underline:visited, a.underline:active, a.underline:hover {text-decoration: underline;}
a.underline:hover { text-decoration: none}
/*float*/
.float_r {float: right;}
.float_l {float: left;}
.float_none { float: none; clear:both}

/*Position */
.abs { position:absolute }
.rel { position: relative}
/*align*/
.align_c {text-align: center;}
.align_r {text-align: right;}
.align_l {text-align: left;}

/*clear float*/
.clear {font: 0px/0px sans-serif; clear: both; visibility: hidden; display: block;}

/* onfocus outline */
:focus{outline:none}

/* text Family */
.textEn { font-family: Verdana, Arial;}

/* text color */
.red {color: #c83e31}
.white {color: #fff}
.yellow { color: #c79732}
.text2f2f2f { color: #2f2f2f}
.text333 {color: #333}
.text666 {color: #666}
.text999 {color: #999}
.text000 {color: #000}
.textf60 {color: #f60}
.text090 {color: #090}
/* text bold */
.textBold { font-weight: bold}

/* text size */
.font14px { font-size: 14px;}
.font18px {font-size: 18px;}

/* line */
.line_e3ddb9 { height: 1px; border-top:1px solid #e3ddb9; overflow: hidden}
.line2px_c83e31 { height: 0; border-top:2px solid #c83e31; overflow: hidden}
/* margin */
.margin_t_2 {margin-top: 2px;}
.margin_t_3 {margin-top: 3px;}
.margin_t_5 { margin-top: 5px;}
.margin_t_10 { margin-top: 10px;}
.margin_l_5 { margin-left: 5px;}
.margin_r_5 { margin-right: 5px;}
.margin_l_10 { margin-left: 10px;}
.margin_r_10 { margin-right: 10px;}
.margin_l_20 { margin-left: 10px;}
.margin_r_20 { margin-right: 10px;}
.margin_l_8 { margin-left: 8px;}

/* padding */
.padding_t_5 { padding-top: 5px;}
.padding_l_5 { padding-left: 5px;}
.padding_r_5 { padding-right: 5px;}
.padding_l_10 { padding-left: 10px;}
.padding_r_10 { padding-right: 10px;}
.padding_l_20 { padding-left: 20px;}
.padding_r_20 { padding-right: 10px;}
.padding_b_10 { padding-bottom: 10px}
.padding_l_23 { padding-left: 23px;}

/* Form Validation Popup Msg */
.Validform_error{background-color:#ffe7e7;}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#780c02;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #780c02; border-top:none; text-align:left;}

/* == 全局布局 == */
#header {height: auto; width: 950px; margin: 0 auto; background: #f5f4ed; overflow: hidden}
#wrapper {position: relative; width: 100%; margin: 0 auto; overflow: hidden; clear: both; float: none;  background: #fff;}
#Footer { position: relative; width: 950px; margin: 0 auto; padding: 10px 0 20px 0; background:#f5f4ed; color: #666}
/*_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true", sizingMethod="scale", src="../images/bg_selected_color.png");_background:none;*/

/* == 头区 开始 == */
#header .logo { float: left}
#header .logoCenter { float: none; text-align: center;}
#header .top { height: 54px; background: #f5f4ed}
#header .top img#randomTopImg { border: solid 1px #de908b; margin-top: 7px; vertical-align: top}
/*#header .globalnav { float: none; clear:both; height: 60px; margin-bottom: 9px;  background: url(../images/bg_nav.png) 0 0 no-repeat}
#header .globalnav .wrap { width: 968px; margin: 0 auto; overflow:hidden}
#header .globalnav ul {padding-top: 12px; width: 1000px;}
#header .globalnav ul li {float: left; display: inline-block;}
#header .globalnav ul li a { font-weight: bold; color: #fff;}
#header .globalnav ul li h2 { float: left; display: inline-block; width: 90px; height: 19px; margin-top: 9px;}
#header .globalnav ul li h2 a { display: block; height: 19px;padding-left: 17px; font-size: 16px;}
#header .globalnav ul li dl { float: left;}
#header .globalnav ul li dl dd { display: block; height: 22px; padding-left: 27px; }
#header .globalnav ul li dl dd a { line-height: 16px; font-size: 12px; color: #fff; margin-right: 25px;}
#header .globalnav ul li#channel1 { width: 224px;}
#header .globalnav ul li#channel2 { width: 226px;}
#header .globalnav ul li#channel3 { width: 228px;}
#header .globalnav ul li#channel4 { width: 271px;}*/

#header .globalnav { float: none; clear:both; height: 44px; margin:5px 0 9px;  background: url(../images/bg_global_nav.png) 0 0 no-repeat;}
#header .globalnav .wrap { width: 968px; margin: 0 auto; overflow:hidden}
#header .globalnav ul {padding-top: 12px; width: 1000px;}
#header .globalnav ul li {float: left; display: inline-block;}
#header .globalnav ul li a { font-weight: bold; color: #fff;}
#header .globalnav ul li h2 { float: left; display: inline-block; width: auto; height: 19px;margin-top:2px}
#header .globalnav ul li h2 a { display: block; height: 19px;padding-left: 75px; font-size: 14px;}
/*#header .globalnav ul li dl { float: left;}
#header .globalnav ul li dl dd { display: block; height: 22px; padding-left: 27px; }
#header .globalnav ul li dl dd a { line-height: 16px; font-size: 12px; color: #fff; margin-right: 25px;}*/
#header .globalnav ul li#channel1 { width: 190px;}
#header .globalnav ul li#channel1 h2 a { padding-left: 79px}
#header .globalnav ul li#channel2 { width: 190px;}
#header .globalnav ul li#channel2 h2 a { padding-left: 70px}
#header .globalnav ul li#channel3 { width: 190px;}
#header .globalnav ul li#channel3 h2 a { padding-left: 75px}
#header .globalnav ul li#channel4 { width: 190px;}
#header .globalnav ul li#channel4 h2 a { padding-left: 74px}
#header .globalnav ul li#channel5 h2 a { padding-left: 73px}

/* == 头区 结束 == */

/* == 底部 开始 == */
#Footer .copyright { text-align: center; padding: 12px; font-family: Verdana, '宋体';}
/* == 底部 结束 == */

/* == 通用布局样式 == */
/* --
	.content：此类名是页面主体内容的容器类名，引用此类名的容器有：
			1、左右两栏页的右栏容器;
			2、通栏页的内容主体容器。 
--*/
#wrapper .content { border: solid 1px #e3ddb9; padding-bottom:20px}
#wrapper .content .titleMain { height: 29px; padding-left: 11px; border-bottom: solid 1px #e3ddb9; background: url(../images/bg_tit.png) 0 0 repeat-x;}
#wrapper .content .titleMain .crumb { float: left; color: #c83e31; font-size: 14px; font-weight: bold; line-height: 29px;}
#wrapper .content .titleMain .crumb a {color: #c83e31;}
#wrapper .content .titleMain .search { float: right; padding-right: 10px;}
#wrapper .content .titleMain .search .form { float:right; height: 23px; margin-top:3px; background: url(../images/bg_search_input.gif) 0 0 no-repeat;}
#wrapper .content .titleMain .search .form input { float:left; color: #777; vertical-align: middle}
#wrapper .content .titleMain .search .form .textInput {width: 147px; margin: 5px 10px 0 23px; background: #fff; border: none; }
#wrapper .content .titleMain .search .form a { float: left; margin-top: 5px; vertical-align: middle; vertical-align: baseline}
#wrapper .content .titleMain .search .form a:hover { color: #c83e31;}
#wrapper .content .titleMain .search .form a.btnSearch { display: inline-block; height: 22px; padding: 0 5px; margin: 1px 10px 0 0; color: #fff; background: #c83e31; line-height: 22px; }
#wrapper .content .titleMain .search .form a.btnSearch:hover { text-decoration: none; color: #fff}
#wrapper .content .contentMain { padding:0 0 15px 9px;}
/* --
	.right：	此类名是左右两栏页的右栏容器独自引用的类名，如没有别申明，此类只会出现在左右两分栏的页耐面.
				定义此类用于定义左右两分栏页右栏特有的样式，从而区分.content类的通用内容栏样式.
--*/
#wrapper .right {float: right; width: 768px; min-height: 500px; _height: 500px;}
#wrapper .left {  position:absolute; width: 179px;  padding-top: 16px; background: url(../images/bg_leftArea_borderT.gif) 0 0 repeat-x; border-left: solid 1px #e3ddb9;}
/* --
	.left：	此类名是左右两栏页的左栏容器独自引用的类名，如没有别申明，此类只会出现在左右两分栏的页耐面.
--*/
/* --左栏Menu及二级Menu-- */
#wrapper .left .sidebar {}
#wrapper .left .sidebar .toggler { position: absolute; top: 280px; right: -16px; width: 15px; height: 86px; background: url(../images/bg_btn_slider.gif) 0 0 no-repeat; cursor: pointer}
#wrapper .left .sidebar .togglerOpen { right: -3px; background-position: -24px 0;}

#wrapper .left .sidebar a { color: #4e4e4e;}
#wrapper .left .sidebar dl { margin-left: 9px; width: 170px}
#wrapper .left .sidebar dl dd {}
#wrapper .left .sidebar dl dd a.mainmenu { display: inline-block; font-size: 14px; font-weight: bold;  line-height: 25px;}
#wrapper .left .sidebar dl dd a.mainmenu span { float:left; display:inline-block; height: 20px; width: 19px; margin:0 8px 0 0; background: url(../images/ico_sidebar_mainmenu.gif) 100% 0 no-repeat;}
#wrapper .left .sidebar dl dd a.mainmenu:hover { text-decoration: none}
#wrapper .left .sidebar dl dd a.now { color: #c83e31}
#wrapper .left .sidebar dl dd a.mainmenu .ico_1 { background-position: 100% 0;}
#wrapper .left .sidebar dl dd a.mainmenu .ico_2 { background-position: 100% -25px;}
#wrapper .left .sidebar dl dd a.mainmenu .ico_3 { background-position: 100% -52px;}
#wrapper .left .sidebar dl dd a.mainmenu .ico_4 { background-position: 100% -77px;}
#wrapper .left .sidebar dl dd a.mainmenu .ico_5 { background-position: 100% -104px;}
#wrapper .left .sidebar dl dd a.mainmenu .ico_6 { background-position: 100% -129px;}
#wrapper .left .sidebar dl dd ul { display: none; margin-left: 28px;}
#wrapper .left .sidebar dl dd ul li { height:auto; padding:2px 0 2px 8px; background: url(../images/ico_sidebar_submenu.gif) 0 50% no-repeat; zoom: 1}
#wrapper .left .sidebar dl dd ul li a { display: inline-block; padding: 4px; background: transparent}
#wrapper .left .sidebar dl dd ul li a:hover { color: #c83e31;}
#wrapper .left .sidebar dl dd ul li.now a { background: #c83e31; color: #fff;}
#wrapper .left .sidebar dl dd ul li.now a:hover { color: #fff}
