@charset "utf-8";

/* --首页主体内容上部分布局-- */
#wrapper .top { height: auto; overflow: auto; background: #f5f4ed;}
#wrapper .top .left { float: left; position: static; width: 272px; background: none; border: none; padding: 0 }
#wrapper .top .center {float: left; width: 390px;}
#wrapper .top .right {float: right; position: static; width: 272px; background: none; border: none; padding: 0}

/* --首页主体内容上部分左栏:"个人专区"-- */
#wrapper .top .left .colume { height: 231px; padding: 13px 13px 0 12px; background:#fff url(../images/../images/bg_leftArea_borderT.gif) 0 0 repeat-x; overflow: hidden}
#wrapper .top .left .colume .title { float: left; height: 20px; font-size: 14px; color: #4e4e4e;}
#wrapper .top .left .colume .welcome { float: right; padding-top: 2px;}
#wrapper .top .left .colume dl { float: none; clear:both; height: 100px; overflow: hidden;}
/* 头像 */
#wrapper .top .left .colume dl .avatar { float: left; width: 90px; }
#wrapper .top .left .colume dl .avatar img { width: 80px; height: 100px}
/* 个人面板 */
#wrapper .top .left .colume dl dd { float: right; width: 157px; padding-top: 14px; overflow: hidden}
#wrapper .top .left .colume dl dd .btnMyHome { display: inline-block; margin-bottom: 1px; padding:2px 5px;  background: #d3cc9c; }
#wrapper .top .left .colume dl dd .btnMyHome a { color: #fff; }
#wrapper .top .left .colume dl dd ul { width: 166px; border-top: solid 1px #d3cc9c; padding-top: 8px;}
#wrapper .top .left .colume dl dd ul li { float: left; height: 20px; width: 76px; padding-left: 6px; color: #c79732;}
#wrapper .top .left .colume dl dd ul li a { color: #c79732}

/*会议、通讯录、报销...等链接*/
#wrapper .top .left .colume ol { float: none; clear: both; height: auto; margin-top: 7px; overflow: auto; padding:0 0 4px 8px; border: 1px solid #e6e0be; background:#faf9ee url(../images/bg_index.gif) 0 0 no-repeat; zoom: 1}
#wrapper .top .left .colume ol li { float: left; display: block; padding-top: 8px;}
#wrapper .top .left .colume ol li a { display: inline-block; padding-left: 24px;}
#wrapper .top .left .colume ol li.menu_1, #wrapper .top .left .colume ol li.menu_4 { width: 81px;} 
#wrapper .top .left .colume ol li.menu_2, #wrapper .top .left .colume ol li.menu_5 { width: 92px;}
#wrapper .top .left .colume ol li.menu_3, #wrapper .top .left .colume ol li.menu_6 { width: 63px;}
#wrapper .top .left .colume ol li.btnCustomize { float: right; padding-right: 8px}
#wrapper .top .left .colume ol li.btnCustomize a {color: #c79732}
/* 月度工作讨论表、IT服务手册、流程一点通 等文字链接 */
#wrapper .top .left .colume .links {}
#wrapper .top .left .colume .links span { margin: 0 3px; line-height: 31px}

/* --首页顶部中间轮播-- */
#wrapper .top .center #dPlayer { position: relative; margin-left: 8px; width: 390px; height: 214px;}
#wrapper .top .center #dPlayer .banner { position:relative; width: 390px; height: 214px; z-index: 0}
#wrapper .top .center #dPlayer .banner li { position:absolute; display:block; width: 390px; height: 214px; background-position: 0 0; background-repeat: no-repeat;}
#wrapper .top .center #dPlayer .banner li a { display: block; width: 390px; height: 214px;}
#wrapper .top .center #dPlayer .trigger { position: absolute; bottom: 0;  width: 390px; height: 31px;}
#wrapper .top .center #dPlayer .trigger li { float: left; display:block; width: 129px; height: 31px; margin-right:1px;}
#wrapper .top .center #dPlayer .trigger li a { display:inline-block; position: absolute; width: 129px; height: 31px; line-height:29px;color: #fff; text-align:center; background: url(../images/bg_index.gif) 50% 1000px no-repeat; z-index: 1}
#wrapper .top .center #dPlayer .trigger li.now a, #wrapper .top .center #dPlayer .trigger li.now a:hover { color: #fff; background-position: 50% -69px; }
#wrapper .top .center #dPlayer .trigger li a:hover { color: #fff; text-decoration: none}
#wrapper .top .center #dPlayer .trigger li .bg { display: block; width: 129px; height: 31px; background: #000; -moz-opacity: 0.2; filter:alpha(opacity=20);  opacity: 0.2;}
#wrapper .top .center #dPlayer .trigger li.now .bg {-moz-opacity: 0.4; filter:alpha(opacity=40);  opacity: 0.4;}

/* 信息提示 */
#wrapper .top .center .notice { position: relative; width: 390px; height: 22px; margin-left: 8px; padding-top: 8px; background: #fff; overflow: hidden}
#wrapper .top .center .notice ul { height: 20px; width: 390px; overflow: hidden; }
#wrapper .top .center .notice ul li { width: 390px; height: 20px; color: #666; background: url(../images/bg_index.gif) 5px -102px no-repeat;}
#wrapper .top .center .notice ul li span { margin-left: 27px;}
#wrapper .top .center .notice ul li a { color: #c83e31;}

/* --首页主体内容上部分右栏:"添富日程"-- */
#wrapper .top .right .colume { height: 231px; padding: 13px 13px 0 12px; background:#fff url(../images/../images/bg_leftArea_borderT.gif) 0 0 repeat-x; overflow: hidden}
#wrapper .top .right .colume .title { float: left; height: 20px; padding-left: 18px; font-size: 14px; color: #4e4e4e; background: url(../images/bg_index.gif) 0 -148px no-repeat;}
#wrapper .top .right .colume .pagelink { float: right; padding-top: 2px;}
#wrapper .top .right .colume .pagelink li { float: left; margin-right: 5px; color: #c79732;}
#wrapper .top .right .colume .pagelink li a { color: #c79732;}
#wrapper .top .right .colume .pagelink li.now a { color: #c83e31;}
/* 日程Tab内容空器 */
#wrapper .top .right .colume .tabC { float: none; clear: both; zoom: 1}
#wrapper .top .right .colume .tabC .cont { display: none}
#wrapper .top .right .colume .tabC .now { display: block}
#wrapper .top .right .colume .tabC .cont p { padding:4px 0 7px; line-height: 25px; border-top: dashed 1px #e3ddb9;}
#wrapper .top .right .colume .tabC .cont p.noLine { border-top: none}
#wrapper .top .right .colume .tabC .cont p .date { color: #c79732}
#wrapper .top .right .colume .tabC .cont p .link { display: block; line-height: 17px;}
