<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mac.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:colorPrimary="#0365c0"
        android:icon="@mipmap/ic_launcher"
        android:label="NappyZap"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="NappyZap">
            android:screenOrientation="portrait"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" />
        <activity android:name=".PreviousPickups"
            android:screenOrientation="portrait"/>
        <activity android:name=".Contact">
            android:screenOrientation="portrait"
        </activity>
    </application>

</manifest>
