<div id="bottom"><A href="http://www.jeecms.com/news/743.htm" 
target=_blank>关于我们</A> - <A href="http://www.jeecms.com/yjdt/826.htm" 
target=_blank>联系我们</A> - 诚聘英才 - 友情链接 - <A 
href="http://www.jeecms.com/download/index.htm" target=_blank>程序下载</A> - 合作服务 - 
<A href="http://www.jeecms.com/yjdt/825.htm" target=_blank>许可协议</A> - <A 
onclick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href)" 
href="javascript:void(0);">设为首页</A> - <A 
onclick="window.external.addFavorite('http://www.jeecms.com','jeecms-国内专业、开源、免费的JAVA (JSP)版网站管理系统')" 
href="javascript:void(0);">加入收藏</A> 
<BR>电话：0791-6573110　13576281815　传真：0791-6573110<BR>Powered by <A 
href="http://www.jeecms.com/" target=_blank>JeeCms</A> Copyright &copy; 2007-2009 
www.jeecms.com, All Rights Reserved &nbsp;
</div>
