.header {
	height: 38px;
	overflow: hidden;
}

.header .inner {
	height: 30px;
	background: #f9f9f9;
	border-bottom: 2px solid #D4D4D4;
}

.header a {
	color: #000;
}

.header a:hover {
	color: #369;
	text-decoration: none;
}
.header .logo {
	float: left;
	width: 120px;
	height: 26px;
	padding: 4px 0 0 15px;
}

.header .content {
	height: 30px;
	width: 100%;
	padding-right: 0px;
}

.header .content ul li {
	float: left;
}

.header .dlarea {
	float: right;
	margin-top: 8px;
}

.header .dlarea li {
	padding: 0 8px 0 7px;
}

.header .dlarea li a {
	padding-left: 1px;
}

.header .dlarea li a.name {
	color: #369;
}

.header .nav {
	float: left;
	margin-top: 2px;
}

.header .nav li a {
	float: left;
	font-size: 14px;
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	cursor: pointer;
}

.header .nav li a {
	padding: 0 8px;
}

.header .nav li.on a {
	font-weight: bold;
}

a{  
    cursor:pointer;  
    text-decoration:none;  
    hide-focus: expression(this.hideFocus=true);  
    outline:none;  
}  
a:link,a:visited,a:active{  
    text-decoration:none;  
    color: #000000;
}  
  
a:focus{  
    outline:0;   
}  

.overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:998;width:100%;height:100%;_padding:0 20px 0 0;background:#f6f4f5;display:none;}
.showbox{position:fixed;top:0;left:50%;z-index:9999;opacity:0;filter:alpha(opacity=0);margin-left:-80px;}
.showbox,.overlay{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#AjaxLoading{border:1px solid #8CBEDA;color:#37a;font-size:12px;font-weight:bold;}
#AjaxLoading div.loadingWord{width:180px;height:50px;line-height:50px;border:2px solid #D6E7F2;background:#fff;}
#AjaxLoading img{margin:10px 15px;float:left;display:inline;}
