body{margin:0px; padding:0px;background-image: url();}
	    /* more */
		#more{display:block;margin:10px auto 20px;}
		/* infscr-loading */
		#infscr-loading{bottom:25px;left:10%;position:absolute;text-align:center;height:20px;line-height:20px;z-index:100;width:300px;}
		/* to_top */
		.to_top a,.to_top a:hover{background:url("/app/cooperation/images/gotop.png") no-repeat}
		.to_top a{
			background-position:0 0;float:left;height:50px;overflow:hidden;width:50px;position:fixed;bottom:35px;cursor:pointer;right:20px;
			_position:absolute;
			_right:auto;
			_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||20));
			_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||20)-(parseInt(this.currentStyle.marginBottom, 10)||20)));
		}
		.to_top a:hover{background-position:-51px 0px;}
		a{  
		    cursor:pointer;  
		    text-decoration:none;  
		    hide-focus: expression(this.hideFocus=true);  
		    outline:none;  
		}  
		a:link,a:visited,a:active{  
		    text-decoration:none;  
		    color: #000000;
		}  
		  
		a:focus{  
		    outline:0;   
		}
		/**begin 直角角浮标样式*/
		.uureadnum{	/*菜单右侧查询条件结果显示区域对应的样式*/
			width: 10px;			/*宽度*/
			height: auto;			/*高度*/
			font-family: arial !important;
			font-size: 12px;		/*字体大小*/
			font-weight: bold;
			color: #F20F05 !important;
			border-radius: 2px;
			cursor: pointer;
			text-align: center;
			padding-left: 3px;	
			padding-right: 3px;	
			padding-top: 0px;	
			padding-bottom: 2px;
			border-radius:3px;
		}
		
		.replynum{	/*菜单右侧查询条件结果显示区域对应的样式*/
			background-color: #FE6600;
			width: 10px;			/*宽度*/
			height: auto;			/*高度*/
			font-family: arial !important;
			font-size: 10px;		/*字体大小*/
			font-weight: bold;
			color: #fff !important;
			border-radius: 5px;
			cursor: pointer;
			text-align: center;
			padding-left: 3px;		
			padding-right: 3px;		
			padding-top: 0px;		
			padding-bottom: 2px;
		}
		/**end 直角角浮标样式*/
		<!--
		.item { 
			padding: 4px 0; 
			width: 382px; 
		}
		.itemgcolor1 { 
		    background-color:#F1F4F6; 
		}
		/*.item :hover{	
			background:#E4EDF4;
		}*/
		.d0{
			float: left; 
			margin:0px; 
			padding: 0 4px 0 0px; 
			width: 14px;
			text-align:left;
		}
		.d1{
			float: left; 
			margin:0px; 
			padding:0px; 
			width:20px;
			text-align:left;
		}
		.d2{
		    cursor:hand;
			float: left; 
			line-height:20px;
			margin:0px; 
			padding:0px; 
		    font-family: Arial; 
			font-size: 13px; 
			/*font-weight:bold;*/
			text-decoration: none; 
			width: 280px;
			text-align: left;
		}
		.d3{
			float: left;
			margin:0px; 
			padding-bottom:5px;
			padding-left:0px;
			padding-right:0px;
			padding-top:2px;
		    font-family: Arial; 
			font-size: 10px; 
			width: 55px;
			vertical-align: bottom;
			color: #999;
		}
		.d4{
			float: left;
			margin:0px; 
			padding-bottom:0px;
			padding-left:0px;
			padding-right:2px;
			padding-top: 0;
		    font-family: Arial; 
			font-size: 10px; 
			color: #333;
			width:55px;
			text-align: right;
		}
		.title
		{
			/*white-space:nowrap;*/
			/*word-break:keep-all;*/
			word-break:break-all;
			/*overflow:hidden;*/
			text-overflow:ellipsis;
			font-family: Microsoft YaHei; 
			font-size: 12px; 
			color: #999;
		}
		
		.title a:link{font-weight:normal ;text-decoration : none ;color : #000000;}
		.title a:visited {font-weight : normal ;text-decoration : none ;color : #000000;}
		.title a:hover {font-weight : normal ;text-decoration : none ;color : blue;}
		/*.title a:active {font-weight : normal ;text-decoration : none ;color : #000000;}*/
		
		.remark{
		    font-family: Microsoft YaHei; 
			font-size: 11px; 
			color: #999;
		}
		
		.nbody{
		  background-color:#F8F8FA;
		}
		
		/* qtip 提示框基础样式 */
		.qtip .qtip-content{padding:10px;overflow:hidden;}
		.qtip .qtip-content .qtip-title,.qtip-cream .qtip-content .qtip-title{background-color:#F0DE7D;}
		.qtip-light .qtip-content .qtip-title{background-color:#f1f1f1;}
		.qtip-dark .qtip-content .qtip-title{background-color:#404040;}
		.qtip-red .qtip-content .qtip-title{background-color:#F28279;}
		.qtip-green .qtip-content .qtip-title{background-color:#B9DB8C;}
		
		.tipfont{
		  font-size: 12px;
		  color: #000000;
		}
		-->
		
		
table.unread{
	float: left;
	height:13px;
	border:0;
	border-collapse: collapse;
}
table.unread td{
	padding: 0;
}
table.unread td.unreadCenter{
	background-color: red;
	color: #fff;
	font: 10px Arial;
	font-weight: bold;
	padding-bottom: 1px;
}
table.unread td.unreadLeft{
	width: 5px;
	background: url(/app/cooperation/images/radiusleft.png);
}
table.unread td.unreadRight{
	width: 5px;
	background: url(/app/cooperation/images/radiusright.png);
}