@charset "utf-8";
/* CSS Document */
body {
	margin:0px;
	background-color:#FFFFFF;
	background-image:url(/images/bj_n_bot01.jpg);
	background-position:bottom;
	background-repeat:repeat-x;
}
img {
	border:0px;
}
td {
	font-family: "微软雅黑","microsoft yahei";
	font-size: 12px;
	color:#767676;
	line-height: 20px;
}

/*文字定义 */

.title_left_white {
	color: #ffffff;
	font-size:40px;
	line-height:42px;
	padding-left:12px;
}
.e_banben {
	color: #a4a4a4;
	font-size:12px;
	line-height:20px;
}
a.e_banben:link {
	color: #a4a4a4;
	text-decoration:none;
}
a.e_banben:visited {
	color: #a4a4a4;
	text-decoration:none;
}
a.e_banben:hover {
	color: #2c5591;
	text-decoration:none;
}
.gray_12 {
	color: #3f3f3f;
	font-size:12px;
	line-height:26px;
	padding-left:25px;
	background: url(/images/arrow_dot.gif) left no-repeat;
}
a.gray_12:link {
	color: #3f3f3f;
	text-decoration:none;
}
a.gray_12:visited {
	color: #3f3f3f;
	text-decoration:none;
}
a.gray_12:hover {
	color: #28528d;
	text-decoration: underline;
}
.gray_1202 {
	color: #909090;
	font-size:12px;
	line-height:23px;
}
a.gray_1202:link {
	color: #909090;
	text-decoration:none;
}
a.gray_1202:visited {
	color: #909090;
	text-decoration:none;
}
a.gray_1202:hover {
	color: #000;
	text-decoration: underline;
}
.gray_1203 {
	color: #3f3f3f;
	font-size:12px;
	line-height:23px;
}
.gray_1205 {
	color: #909090;
	font-size:12px;
	line-height:23px;
}
a.gray_1205:link {
	color: #909090;
	text-decoration:none;
}
a.gray_1205:visited {
	color: #909090;
	text-decoration:none;
}
a.gray_1205:hover {
	color: #000;
	text-decoration: none;
}
.blue_12 {
	color: #28528d;
	font-size:12px;
	line-height:26px;
	padding-left:25px;
	background: url(/images/arrow_dot.gif) left no-repeat;
}
a.blue_12:link {
	color: #28528d;
	text-decoration:none;
}
a.blue_12:visited {
	color: #28528d;
	text-decoration:none;
}
a.blue_12:hover {
	color: #28528d;
	text-decoration: underline;
}
.blue_12_2 {
	color: #28528d;
	font-size:12px;
	line-height:23px;
}
a.blue_12_2:link {
	color: #28528d;
	text-decoration:none;
}
a.blue_12_2:visited {
	color: #28528d;
	text-decoration:none;
}
a.blue_12_2:hover {
	color: #000;
	text-decoration: underline;
}
.blue_12_3 {
	color: #99a8bc;
	font-size:12px;
	line-height:26px;
}
a.blue_12_3:link {
	color: #99a8bc;
	text-decoration:none;
}
a.blue_12_3:visited {
	color: #99a8bc;
	text-decoration:none;
}
a.blue_12_3:hover {
	color: #000;
	text-decoration: underline;
}


.blue_12_4 {
	color: #9c9ea0;
	font-size:12px;
	line-height:22px;
}
a.blue_12_4:link {
	color: #9c9ea0;
	text-decoration:none;
}
a.blue_12_4:visited {
	color: #9c9ea0;
	text-decoration:none;
}
a.blue_12_4:hover {
	color: #d7d9dc;
	text-decoration: underline;
}
.gray_14 {
	color: #3f3f3f;
	font-size:14px;
	line-height:36px;
	padding-left:21px;
}
a.gray_14:link {
	color: #3f3f3f;
	text-decoration:none;
}
a.gray_14:visited {
	color: #3f3f3f;
	text-decoration:none;
}
a.gray_14:hover {
	color: #28528d;
	text-decoration:none;
}
.gray_14_2 {
	color: #3f3f3f;
	font-size:14px;
	line-height:30px;
}
a.gray_14_2:link {
	color: #3f3f3f;
	text-decoration:none;
}
a.gray_14_2:visited {
	color: #3f3f3f;
	text-decoration:none;
}
a.gray_14_2:hover {
	color: #28528d;
	text-decoration:none;
}
.gray_14_3 {
	color: #3f3f3f;
	font-size:14px;
	line-height:22px;
}
.gray_20 {
	color: #acacac;
	font-size:20px;
	line-height:36px;
}
.blue_14 {
	color: #28528d;
	font-size:14px;
	line-height:36px;
	padding-left:21px;
}
a.blue_14:link {
	color: #28528d;
	text-decoration:none;
}
a.blue_14:visited {
	color: #28528d;
	text-decoration:none;
}
a.blue_14:hover {
	color: #28528d;
	text-decoration:none;
}
.blue_14_02 {
	color: #28528d;
	font-size:14px;
	line-height:30px;
}
a.blue_14_02:link {
	color: #28528d;
	text-decoration:none;
}
.blue_14_03 {
	color: #28528d;
	font-size:14px;
	line-height:20px;
}
.blue_18 {
	color: #28528d;
	font-size:18px;
	line-height:30px;
}
.gray_bottom {
	color: #bebebe;
	font-size:12px;
	line-height:20px;
}
a.gray_bottom:link {
	color: #bebebe;
	text-decoration:none;
}
a.gray_bottom:visited {
	color: #bebebe;
	text-decoration:none;
}
a.gray_bottom:hover {
	color: #9e9e9e;
	text-decoration:underline;
}
.black_12 {
	color: #3c3c3c;
	font-size:12px;
	line-height:26px;
}
.black_12_2 {
	color: #1c1c1c;
	font-size:12px;
}
.black_18 {
	color: #000;
	font-size:18px;
	line-height:36px;
}
a.black_18:link {
	color: #000;
	text-decoration:none;
}
a.black_18:visited {
	color: #000;
	text-decoration:none;
}
a.black_18:hover {
	color: #28528d;
	text-decoration: underline;
}
.black_14 {
	color: #000;
	font-size:14px;
	line-height:22px;
}
.white_12 {
	color: #ffffff;
	font-size:12px;
	line-height:49px;
}
a.white_12:link {
	color: #ffffff;
	text-decoration:none;
}
a.white_12:visited {
	color: #ffffff;
	text-decoration:none;
}
a.white_12:hover {
	color: #ffffff;
	text-decoration:underline;
}
.grey_30px {
	font-family: Arial, Helvetica, sans-serif, "微软雅黑";
	font-size: 30px;
	line-height:40px;
	color: #454545;
}
.search_12 {
	color: #767676;
	font-size:12px;
	line-height:32px;
	padding-left:10px;
}
.news_date {
	color: #787878;
	font-size:28px;
	line-height:40px;
}
/*线条定义 */

.line_gray1 {
border-bottom:#dfdfdf 1px solid;
}
.line_gray2 {
border-bottom:#e9e9e9 1px solid;
}
.line_gray3 {
border-bottom:#dfdfdf 1px solid;
height:36px;
line-height:36px;
}
.line_gray4 {
border:#ccc 1px solid;
font-family: "微软雅黑","microsoft yahei";
font-size:12px;
color:#333333;
}
.line_table_1 {
border-top:#c9ced5 1px solid;
border-bottom:#c9ced5 1px solid;
background-color:#eaecf0;
height:30px;
font-size:14px;
color:#43566b;
line-height:30px;
}
.line_table_2 {
border-top:#c9ced5 1px solid;
border-bottom:#c9ced5 1px solid;

}
.line_job_1 {
border-bottom:#dfdfdf 4px solid;
height:26px;
padding-left:0px;
}

.line_row {
background:url(/images/line_dot1.gif) bottom repeat-x;
height:36px;
line-height:36px;
}

#case_img{
	position:absolute;
	width:240px;
	height:160px;
	z-index:1;
	background:url(/images/case_img1.png) 207px 127px no-repeat;
}
#case_img2{
	position:absolute;
	width:240px;
	height:160px;
	z-index:1;
	background:url(/images/case_img2.png) 207px 127px no-repeat;
}


DIV.fengye{
	border-top: 1px solid #EBEBEB;
	text-align: center;
	padding: 10px 0;
}
DIV.fengye A {
	font-family: Microsoft YaHei; 
	padding: 1px 5px;
	margin-right:2px;
	border:1px solid #ccc;
	text-decoration: none; background:#fff; font-size:11px; color:#666;
}
DIV.fengye A:hover {padding: ; text-decoration: none; background:#fff; font-size:11px; color:#6F808F;}
DIV.fengye A:active {padding: ; text-decoration: none; background: #fff; font-size:11px; color:#fff;}
DIV.fengye SPAN{border:1px solid #ccc;padding:1px 5px;}
DIV.fengye SPAN.current{margin-right:2px;text-decoration: none; background: #6F808F; font-size:11px; color:#FFF;border:1px solid #6F808F;}
DIV.fengye SPAN.disabled{padding: ; text-decoration: none; background:#fff; font-size:11px; color:#999;}


.form_k01{
width:212px;
height:31px;
line-height:29px;
border:0px;
padding-left:5px;
background: url(/images/input_01.jpg) -5px -7px no-repeat;
}
.form_k01_on{
width:212px;
height:31px;
line-height:29px;
border:0px;
padding-left:5px;
background: url(/images/input_01.jpg) -5px -47px no-repeat;
}

.form_k02{
width:112px;
height:31px;
line-height:29px;
border:0px;
padding-left:5px;
background: url(/images/input_02.jpg) -5px -7px no-repeat;
}
.form_k02_on{
width:112px;
height:31px;
line-height:29px;
border:0px;
padding-left:5px;
background: url(/images/input_02.jpg) -5px -47px no-repeat;
}

#myhome1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px;  WIDTH: 140px; PADDING-TOP: 0px;  LIST-STYLE-TYPE: none
}
#myhome1 LI {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: center
}
#myhome1 LI A {
	BACKGROUND-POSITION: 0px 0px; DISPLAY: block; MARGIN-TOP:0px; WIDTH: 140px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 42px; TEXT-DECORATION: none
}
#myhome1 LI A:hover {
	BACKGROUND-POSITION: 0px -45px; 
}
#myhome1 LI#m1 A {
	BACKGROUND-IMAGE: url(/images/myhome01.gif)
}
#myhome1 LI#m1_on A {
	BACKGROUND-POSITION: 0px -25px;BACKGROUND-IMAGE: url(/images/product_m01.gif)
}
#myhome1 LI#m2 A {
	BACKGROUND-IMAGE: url(/images/myhome02.gif)
}
#myhome1 LI#m2_on A {
	BACKGROUND-POSITION: 0px -25px;BACKGROUND-IMAGE: url(/images/product_m02.gif)
}

.case{
display:block;
width:240px;
height:200px;
padding:6px;
}
.case_on{
display:block;
width:240px;
height:200px;
padding:6px;
background:#eee;
}
.case2{
display:block;
width:240px;
height:230px;
padding:6px;
}
.case2_on{
display:block;
width:240px;
height:230px;
padding:6px;
background:#eee;
}
