body{padding:0;margin:0;}
body.bodyWelcome{
	background-image:url('/app/cooperation/images/shadow.jpg');
	background-repeat:repeat-y;
	overflow: hidden;
}
body.bodyCoworklist{padding:0 0 0 5px;}
body.bodyCoworkview{
	padding: 0px 15px 20px 0;
	OVERFLOW:SCROLL; 
	OVERFLOW-X:HIDDEN;
	/**width: 1340px;**//**在IE10、chrome、safari浏览器下，全部协作中的发表评论输入框变长显示不完全**/
}
*, button{font-family:Microsoft YaHei;}
button{
	height: 24px;
	font-size:12px;
	background-color: gold;
	border: 0;
}
button.simple{
	background-color: #fff;
	CURSOR: hand;
	outline:none;
}
a, a:link{color:blue;}

/**/
.cooperationwelcome{
	width: 800px;
	height: 100%;
	margin-left: 15px;
	background-image: url(../images/welcomebg.jpg);	
	background-repeat: no-repeat;
}

/**/
.mini-menu-horizontal .mini-menu-inner{
	background-image: url(/app/cooperation/images/menubg.png) !important;
	background-color: transparent;
	border-bottom: 0px solid #eaeaea !important;
}
.mini-menuitem-text{

}


.search{	/*搜索框*/
	height: auto;	/*高度：自动*/
	position: absolute;	/*定位：绝对定位*/
	top: 10px;	
	left: 100px;	/*距离右边的距离*/
	z-index: 3;		/*z轴显示位置*/
	background-color: #F9FFFF;
	border: 1px solid #aaa;
	height: 22px;
	width: 287px;
}
.searchtype{ /*搜索框下拉类型的相关样式*/
	float: left;	/*浮动：向左*/
	margin-left: 2px;
}
.searchcontent{/*搜索框单行文本包含元素的样式*/
	float: left;	/*浮动：向左*/
	position: relative;	/*定位：相对定位*/
	background-color: #F9FFFF;
}
.searchcontent input{/*搜索框单行文本框的样式*/
	margin: 0 0 0 0px;
	width: 168px;	/*宽度*/
	border: 0px solid #fff;	/*边框(宽度  样式  颜色)*/
	border-left: none;		/*左边框(宽度  样式  颜色)*/
	height: 20px;
	background-color: #F9FFFF;
	font-family: Microsoft YaHei;
	color: #333;
	line-height: 17px;
}
.searchbutton{/*搜索框搜索按钮的样式*/
	height: 22px;	/*高度*/
	width: 24px;	/*宽度*/
	background: url("/css/skins/default/images/search_button.png");	/*背景图片*/
	cursor: pointer;	/*鼠标移上去的样式(手形)*/
	float: right;
}
.searchSplit{/*搜索框分割线的样式*/
	margin: 2px 0 0 0;
	height: 5px;	/*高度*/
	width:1px;		/*宽度*/
	border-left: 1px solid #CFCFCC;	/*左边框(宽度  样式  颜色)*/

}
.CRselectBox{
	width: 76px;		/*宽度*/
	height: 19px;
	border: 0;
	background-color: #F9FFFF;
	background-image: url("../images/arrowdown.png");
}
.CRselectBox a.CRselectValue{
	font-family: Microsoft YaHei;
	font-size: 12px;
	color: #333;
	margin: 0;
	padding: 3px 0px 0 4px;
	width:55px;	/*宽度*/
}
.CRselectBoxOptions{
	width: auto;
	width: 150px \9;
	overflow-x:auto; 
	margin: 1px 0 0 -3px;
	border-color: #aaa;
}
.CRselectBoxOptions a{
	font-family: Microsoft YaHei;
	padding-left: 5px;
	padding-right: 8px;
	color: #333 !important;
}
.CRselectBoxOptions a:hover{
	background: #f5f5f5;	/**/
	color: #333;
	text-decoration: none;
}

/**/
	    /* more */
		#more{display:block;margin:10px auto 20px;}
		/* infscr-loading */
		#infscr-loading{bottom:25px;left:10%;position:absolute;text-align:center;height:20px;line-height:20px;z-index:100;width:300px;}
		/* to_top */
		.to_top a,.to_top a:hover{background:url("/app/cooperation/images/gotop.png") no-repeat}
		.to_top a{
			background-position:0 0;float:left;height:50px;overflow:hidden;width:50px;position:fixed;bottom:35px;cursor:pointer;right:20px;
			_position:absolute;
			_right:auto;
			_left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||20));
			_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||20)-(parseInt(this.currentStyle.marginBottom, 10)||20)));
		}
		.to_top a:hover{background-position:-51px 0px;}
		a{  
		    cursor:pointer;  
		    text-decoration:none;  
		    hide-focus: expression(this.hideFocus=true);  
		    outline:none;  
		}  
		a:link,a:visited,a:active{  
		    text-decoration:none;  
		    color: #000000;
		}  
		  
		a:focus{  
		    outline:0;   
		}
		/**begin 直角角浮标样式*/
		.uureadnum{	/*菜单右侧查询条件结果显示区域对应的样式*/
			width: 10px;			/*宽度*/
			height: auto;			/*高度*/
			font-family: arial !important;
			font-size: 12px;		/*字体大小*/
			font-weight: bold;
			color: #F20F05 !important;
			border-radius: 2px;
			cursor: pointer;
			text-align: center;
			padding-left: 3px;	
			padding-right: 3px;	
			padding-top: 0px;	
			padding-bottom: 2px;
			border-radius:3px;
		}
		
		.replynum{	/*菜单右侧查询条件结果显示区域对应的样式*/
			background-color: #FE6600;
			width: 10px;			/*宽度*/
			height: auto;			/*高度*/
			font-family: arial !important;
			font-size: 10px;		/*字体大小*/
			font-weight: bold;
			color: #fff !important;
			border-radius: 5px;
			cursor: pointer;
			text-align: center;
			padding-left: 3px;		
			padding-right: 3px;		
			padding-top: 0px;		
			padding-bottom: 2px;
		}
		/**end 直角角浮标样式*/
		<!--
		.item { 
			padding: 4px 0; 
			width: 382px; 
		}
		.itemgcolor1 { 
		   background-color:#F1F4F6; 
		}
		/*.item :hover{	
			background:#E4EDF4;	
		}*/
		.d0{
			float: left; 
			margin:0px; 
			padding: 0 4px 0 0px; 
			width: 14px;
			text-align:left;
		}
		.d1{
			float: left; 
			margin:0px; 
			padding:0px; 
			width:20px;
			text-align:left;
		}
		.d2{
		    cursor:hand;
			float: left; 
			line-height:20px;
			margin:0px; 
			padding:0px; 
		    font-family: Arial; 
			font-size: 13px; 
			/*font-weight:bold;*/
			text-decoration: none; 
			width: 280px;
			text-align: left;
		}
		.d3{
			float: left;
			margin:0px; 
			padding-bottom:5px;
			padding-left:0px;
			padding-right:0px;
			padding-top:2px;
		    font-family: Arial; 
			font-size: 10px; 
			width: 55px;
			vertical-align: bottom;
			color: #999;
		}
		.d4{
			float: left;
			margin:0px; 
			padding-bottom:0px;
			padding-left:0px;
			padding-right:2px;
			padding-top: 0;
		    font-family: Arial; 
			font-size: 10px; 
			color: #333;
			width:55px;
			text-align: right;
		}
		.title
		{
			/*white-space:nowrap;*/
			/*word-break:keep-all;*/
			word-break:break-all;
			/*overflow:hidden;*/
			text-overflow:ellipsis;
			font-family: Microsoft YaHei; 
			font-size: 12px; 
			color: #999;
		}
		
		.title a:link{font-weight:normal ;text-decoration : none ;color : #000000;}
		.title a:visited {font-weight : normal ;text-decoration : none ;color : #000000;}
		.title a:hover {font-weight : normal ;text-decoration : none ;color : blue;}
		/*.title a:active {font-weight : normal ;text-decoration : none ;color : #000000;}*/
		
		.remark{
		    font-family: Microsoft YaHei; 
			font-size: 11px; 
			color: #999;
		}
		
		.nbody{
		  background-color:#F8F8FA;
		}
		
		/* qtip 提示框基础样式 */
		.qtip .qtip-content{padding:10px;overflow:hidden;}
		.qtip .qtip-content .qtip-title,.qtip-cream .qtip-content .qtip-title{background-color:#F0DE7D;}
		.qtip-light .qtip-content .qtip-title{background-color:#f1f1f1;}
		.qtip-dark .qtip-content .qtip-title{background-color:#404040;}
		.qtip-red .qtip-content .qtip-title{background-color:#F28279;}
		.qtip-green .qtip-content .qtip-title{background-color:#B9DB8C;}
		
		.tipfont{
		  font-size: 11px;
		  color: #666;
		}
		-->
		
		
table.unread{
	float: left;
	height:13px;
	border:0;
	border-collapse: collapse;
}
table.unread td{
	padding: 0;
}
table.unread td.unreadCenter{
	background-color: red;
	color: #fff;
	font: 10px Arial;
	font-weight: bold;
	padding-bottom: 1px;
}
table.unread td.unreadLeft{
	width: 5px;
	background: url(/app/cooperation/images/radiusleft.png);
}
table.unread td.unreadRight{
	width: 5px;
	background: url(/app/cooperation/images/radiusright.png);
}

/* replycoworklist */
.commentlist .comment {
	list-style:none;
	background:#FFF;
	/*border:1px solid #B0BEC7;*/
	margin-top:10px;
	position:relative;
	padding-bottom:10px;
}
.commentlist .comment .header {
	/*border:1px solid #000;*/
	border-bottom:2px solid #DFE8F6;
	height:23px;
	overflow:hidden;
}
.commentlist .comment .body {
	margin:0 10px;
	line-height:145%;
	overflow:hidden;
}
.commentlist .comment p,
.commentlist .comment blockquote {
	margin:10px 0 0;
}
.commentlist .author {
	float:left;
	font-weight:bold;
	border-right:1px solid #FFF;
	width:128px;
	overflow:hidden;
}
.commentlist .with_avatar {
	width:145px;
}
.commentlist .author a,
.commentlist .author span {
	color:#333;
	background:#DFE8F6;
	display:block;
	padding:4px 8px !important;
	padding:5px 8px;
	text-decoration:none;
}
.commentlist .author a:hover {
	background:#E1E7E9;
}
.commentlist .with_avatar a,
.commentlist .with_avatar span {
	padding:4px 10px 4px 50px !important;
	padding:5px 10px 5px 50px;
}
.commentdiv{
	width: 100%;
	position:absolute;
	z-index: 100;
}	
.commentdiv .avatar {

	position:relative;
	top:1px !important;
	top:1px;
	left:8px;
}
.commentlist .avatar {
	position:absolute;
	top:3px !important;
	top:4px;
	left:8px;
}
.commentlist .regularheader {
	background:#ffffff;
}
.commentlist .regularheader .avatar {
	border-color:#DFE8F6;
}
.commentlist .regularheader .author a,
.commentlist .regularheader .author span {
	background:#DFE8F6;
}
.commentlist .regularheader .author a:hover {
	background:#E1E7E9;
}
.commentlist .adminheader {
	background:#F6F9E7;
}
.commentlist .adminheader .avatar {
	border-color:#ECF3D3;
}
.commentlist .adminheader .author a,
.commentlist .adminheader .author span {
	background:#ECF3D3;
}
.commentlist .adminheader .author a:hover {
	background:#DEECBE;
}
.commentlist .date,
.commentlist .items {
	font-size:12px;
	color:#333;
	margin:4px 9px !important;
	margin:4px 5px 4px 9px;
}
.commentlist .items a{
	font-size:12px;
	color:#333;
}
.commentlist .items {
	float:left;
}
.commentlist .date {
	float:right;
}
div.msg{border-top:0px solid #EBEBEB;font:12px Microsoft YaHei;padding:10px;}

/* coworkview */
div.coworkcontent{padding:10px 0;margin:10px 0 0 0;border-top:1px solid #EBEBEB;font-family:Microsoft YaHei;font-size:12px;color:#333;word-break:break-all;}
div.coworkcontent p{font-family:Microsoft YaHei;font-size:12px;color:#333;}

/* coworkreply */
ul.ugccmt-comments {
	clear: both;
	zoom: 1;
	margin: 0;
	list-style-type: none;
}
.ugccmt-comment {
	border-top: 1px solid #EBEBEB;
	margin: 0;
	padding: 10px 10px 5px 10px;
	overflow: hidden;
	zoom: 1
}
#ugccmt-container-b .ugccmt-comment {
	border-top-width: 0;
	margin: 0 10px;
	padding: 17px 0;
	overflow: hidden;
	zoom: 1
}
.ugccmt-comment .ugccmt-avatar-container {
	float: left;
	margin-right: 12px
}
.ugccmt-comment .ugccmt-info {
	position: relative;
	overflow: hidden;
	_zoom: 1
}
.ugccmt-comment cite {
	float: left;
	font-style: normal
}
.ugccmt-comment cite a {
	font-family: Microsoft YaHei;
	color: blue;
}
.ugccmt-comment cite em,.ugccmt-comment cite span,.ugccmt-comment cite a {
	vertical-align: top
}
.ugccmt-comment cite a strong {
	font-weight: bold;
	font-style: normal;
	text-transform: capitalize
}
.ugccmt-comment cite a.ugccmt-delete-cmt,.ugccmt-comment cite a.ugccmt-cancle-delete-cmt {
	solid #7E7E7E;
	padding-left: 5px;
	margin-left: 2px
}
.ugccmt-comment cite .ugccmt-timestamp {
	padding-left: 3px;
	color: #7E7E7E
}
#ugccmt-comments .ugccmt-user-comment .ugccmt-timestamp {
	padding-left: 0;
	color: #7E7E7E
}
#ugccmt-comments .ugccmt-user-comment {
	padding-left: 20px
}
.ugccmt-comment cite .ugccmt-timestamp abbr {
	display: inline-block;
	font: 11px;
}
.ugccmt-comment cite .ugccmt-delete-confirm {
	padding-left: 3px
}
.ugccmt-comment blockquote {
	clear: both;
	margin: 2px 0;
	word-break:break-all;
	/*line-height: 1.4em;*/
}
.ugccmt-commenttext p{
	font-family: Microsoft YaHei, Verdana;
	color: #333;
}
.ugccmt-commenttext a:link{
	font-family: Microsoft YaHei, Verdana;
	color: blue;
}
.ugccmt-comment .ugccmt-negative-rating {
	clear: both;
	color: #777
}
.ugccmt-comment .ugccmt-rate {
	float: right;
	zoom: 1
}
.ugccmt-replies,.ugccmt-replies-mycmt {
	margin-left: 58px
}
.ugccmt-replies .ugccmt-comment,.ugccmt-replies-mycmt .ugccmt-comment {
	padding-left: 0
}
.ugccmt-bull {
	font-size: 18px;
	line-height: 14px;
	color: #9b9b9b;
	vertical-align: bottom;
	display: none;
}
div.replyDivBase{
	background-color: #f5f5f5;
	color: #999;
	padding: 5px;
	margin-bottom: 5px;
}
span.replyDivBase11{
	color: #999;
	font-size: 11px;
}
div.replyDivBase p{
	color: #999;
}
.ugccmt-rate a, .ugccmt-rate a:link, .ugccmt-rate a:visited{
	color: blue;
	font: 11px Microsoft YaHei;
}

div.replyResource{
	color: #999;
	padding: 5px;
	background-color: #F5F5F5;
}
div.replyResource a{
	font: 12px Microsoft YaHei;
}

/* */
DIV.fengye{
	border-top: 1px solid #EBEBEB;
	text-align: center;
	padding: 10px 0;
}
DIV.fengye A {
	font-family: Microsoft YaHei; 
	padding: 1px 5px;
	margin-right:2px;
	border:1px solid #ccc;
	text-decoration: none; background:#fff; font-size:11px; color:#666;
}
DIV.fengye A:hover {padding: ; text-decoration: none; background:#fff; font-size:11px; color:#6F808F;}
DIV.fengye A:active {padding: ; text-decoration: none; background: #fff; font-size:11px; color:#666;}
DIV.fengye SPAN{border:1px solid #ccc;padding:1px 5px;}
DIV.fengye SPAN.current{margin-right:2px;text-decoration: none; background: #6F808F; font-size:11px; color:#FFF;border:1px solid #6F808F;}
DIV.fengye SPAN.disabled{padding: ; text-decoration: none; background:#fff; font-family: Microsoft YaHei; font-size:11px; color:#999;}


#allcbox_useless div.mini-menuitem-inner{
	padding: 0 0 0 3px !important;
}
.mini-menuitem-icon{
	margin-top: 0px !important;
}
.miniui-menu-icon-search{
	background-image: url(/images/silk/magnifier.gif);
}
.miniui-menu-icon-tag{
	background-image: url(/images/silk/tag_orange.gif);
}

div.coworkWelcomeContainer{
	margin: 10px 20px 10px 35px;
	height: 100%;
	background-image: url("../images/coworkwelcome.png");
	background-repeat: no-repeat;
	background-position: 75px 50px;
}
table.coworkWelcome{
	width: 100%;
}
table.coworkWelcome td{
	font-family: Microsoft YaHei;
}
table.coworkWelcome td.coworkTitle{
	color: #333;
	font-size: 24px;
	font-weight: normal;
	border-bottom: 3px solid gold;
	padding: 5px 2px 5px 0;
	white-space: nowrap;
}
table.coworkWelcome td.coworkTitleBack{
	font-size: 24px;
	color: #EBEBEF;
	border-bottom: 3px solid #EBEBEF;
	width: 100%;
}
table.coworkWelcome td.coworkKeyword{
	padding: 20px 0 10px 0;
}
table.coworkWelcome td.coworkKeyword ul{
}
table.coworkWelcome td.coworkKeyword ul li{
	float: left;
	font-weight: bold;
	color: #333;
	padding: 0 8px 0 12px;
	background-image: url("/light/images/esymbol.gif");
	background-repeat: no-repeat;
	background-position: 0 50%;
}
table.coworkWelcome td.coworkMsg{
	color: #999;
	line-height: 20px;
}


#oTd2 td a{
	font-family: Microsoft YaHei;
	font-size: 11px;
}