/* base START */
* {
	margin:0;
	padding:0;
}

body {
	background:#FFFFFF;
	color:#333;
	font-size:12px;
	font-family:Verdana,Tahoma,"BitStream vera Sans",Arial,Helvetica,sans-serif;
}
/* base END */
/* commnets START */
.commentlist .comment {
	list-style:none;
	background:#FFF;
	/*border:1px solid #B0BEC7;*/
	margin-top:10px;
	position:relative;
	padding-bottom:10px;
}
.commentlist .comment .header {
	/*border:1px solid #000;*/
	border-bottom:2px solid #DFE8F6;
	height:23px;
	overflow:hidden;
}
.commentlist .comment .body {
	margin:0 10px;
	line-height:145%;
	overflow:hidden;
}
.commentlist .comment p,
.commentlist .comment blockquote {
	margin:10px 0 0;
}
.commentlist .author {
	float:left;
	font-weight:bold;
	border-right:1px solid #FFF;
	width:128px;
	overflow:hidden;
}
.commentlist .with_avatar {
	width:145px;
}
.commentlist .author a,
.commentlist .author span {
	color:#333;
	background:#DFE8F6;
	display:block;
	padding:4px 8px !important;
	padding:5px 8px;
	text-decoration:none;
}
.commentlist .author a:hover {
	background:#E1E7E9;
}
.commentlist .with_avatar a,
.commentlist .with_avatar span {
	padding:4px 10px 4px 50px !important;
	padding:5px 10px 5px 50px;
}
.commentdiv{
	width: 100%;
	position:absolute;
	z-index: 100;
}	
.commentdiv .avatar {

	position:relative;
	top:1px !important;
	top:1px;
	left:8px;
}
.commentlist .avatar {
	position:absolute;
	top:3px !important;
	top:4px;
	left:8px;
}
.commentlist .regularheader {
	background:#ffffff;
}
.commentlist .regularheader .avatar {
	border-color:#DFE8F6;
}
.commentlist .regularheader .author a,
.commentlist .regularheader .author span {
	background:#DFE8F6;
}
.commentlist .regularheader .author a:hover {
	background:#E1E7E9;
}
.commentlist .adminheader {
	background:#F6F9E7;
}
.commentlist .adminheader .avatar {
	border-color:#ECF3D3;
}
.commentlist .adminheader .author a,
.commentlist .adminheader .author span {
	background:#ECF3D3;
}
.commentlist .adminheader .author a:hover {
	background:#DEECBE;
}
.commentlist .date,
.commentlist .items {
	font-size:12px;
	color:#333;
	margin:4px 9px !important;
	margin:4px 5px 4px 9px;
}
.commentlist .items a{
	font-size:12px;
	color:#333;
}
.commentlist .items {
	float:left;
}
.commentlist .date {
	float:right;
}
button{
	border:0;background:gold;font:12px Microsoft YaHei;font-weight:normal;color:#333;
}
