/*div下拉框*/
div.divSelect{
	position:absolute;
	left:0px;
	top:0px;
	z-index:999;
	display:none;
	overflow-y:auto; 
	height:200;
	BORDER-RIGHT: 1px solid #000000;
	BORDER-TOP: 1px solid #000000;
	BORDER-LEFT: 1px solid #000000; 
	BORDER-BOTTOM: 1px solid #000000;
	BACKGROUND:#FFFFFF;
}
/*divSelect*/
table.divSelect{
	width:100%;
	border:0px solid #999999 dashed;
    border-collapse:collapse;
    padding:2px;
    FONT: 13px 宋体
}
/*列表标题*/
tr.divSelectHD{
background-color:#9988F7;
    height:16;
    text-align:center}
td.divSelectHD{
white-space:nowrap;
	padding:1px;
    border-left:1px solid #999999;}
/*divSelect奇数行*/
tr.divSelect1{
	/*background-color:#CBFEE0;*/
    page-break-inside:avoid;
    height:16;
	
}
/*divSelect偶数行*/
tr.divSelect2{
	/*background-color:#CDEBCF;*/
    page-break-inside:avoid;
    height:16;
	
}

/*divSelect选中行*/
tr.divSelected{
    page-break-inside:avoid;
    height:16;
	background-color:#F27373;
}
/*divList行*/
tr.divSelect{
	/*background-color:#CBFEE0;*/
    page-break-inside:avoid;
    height:16;
}
/*列表报表-中间*/
td.divSelect{
	white-space:nowrap;
	text-align:left; 
	COLOR: #000; 
	border-bottom:1px dashed  #808080;
}
/*列表标题*/
tr.divSelectHDB{background-color:#C8C8FF;
    height:16;
    text-align:center}
td.divSelectHDB{
	padding:1px;
    border-left:1px solid #999999;}
/*列表报表-中间*/
td.divSelectTitle{
	BORDER-TOP: #eee 1px solid; PADDING-LEFT: 2px; BACKGROUND: #F8FDC6; COLOR: #000; HEIGHT: 18px
}
