.addtable{
	background: url(zTree_v3/css/zTreeStyle/img/diy/table.png) no-repeat 1px 1px;
	width: 16px;
	display:inline;
	color: #fff;
	font-size: 12px;
	font-family :"黑体";
	font-weight:bold;
	top: 5px;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 2px;
}
.addstructure{
	background: url(zTree_v3/css/zTreeStyle/img/diy/structure.png) no-repeat 1px 1px;
	width: 16px;
	display:inline;
	color: #fff;
	font-size: 12px;
	font-family :"黑体";
	font-weight:bold;
	top: 5px;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 2px;
}

.addcolumn{
	background: url(zTree_v3/css/zTreeStyle/img/diy/column.png) no-repeat 1px 1px;
	width: 16px;
	display:inline;
	color: #fff;
	font-size: 12px;
	font-family :"黑体";
	font-weight:bold;
	top: 5px;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 2px;
}

.addparameter{
	background: url(zTree_v3/css/zTreeStyle/img/diy/parameter.png) no-repeat 1px 1px;
	width: 16px;
	display:inline;
	color: #fff;
	font-size: 12px;
	font-family :"黑体";
	font-weight:bold;
	top: 5px;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 2px;
}

.deleteElement{
	background: url(zTree_v3/css/zTreeStyle/img/diy/output.png) no-repeat 1px 1px;
	width: 16px;
	display:inline;
	color: #fff;
	font-size: 12px;
	font-family :"黑体";
	font-weight:bold;
	top: 5px;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 2px;
}
.configdiv{
	width: 250px;
	display: none;
}