.link1{
	background: rgb(195, 217, 255) none repeat scroll 0%;
	font-weight:bold;
	font-size:11px;
}
.link2{
	background: rgb(232, 238, 247) none repeat scroll 0%;
	color:#112abb;
	font-weight:bold;
	font-size:11px;
}
.navtime {
	font-size: 12px;
	font-weight:bold;
}
.minical {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.weekText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color:#112abb;
	font-weight: bold;
}
.minicalborder{
	border:#c3d9ff 1px solid;
}
.hruleeven {
	border-top:1px solid #ddd;
}
.hruleodd {
	border-top:1px dotted #ddd;
}
.hrule {
	position:absolute;
	left:0;
	width:100%;
	height:3ex;
}
.rhead {
	background:#e8eef7;
	width:100%;
	left:0;
}
.chead {
	text-align:center;
	font-family:Arial;
	font-size:11px;
}
.rheadtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#468;
	text-align:right;
	padding-right:4px;
}
.rheadeven {
	border-top:1px solid #ddd;
}
.grid {
	background:#fff;
	position:relative;
	cursor:default;
}
.inset {
	border-style:solid;
	border-width:1px;
	border-color:#a2bbdd #fff #fff #a2bbdd
}
.gutter {
	border-left:3px double #ddd !important
}
.allDayCell {
	position:absolute;
	border-left:3px double #ddd !important;
	width:3px
}
.cheadToday span {
	color:white !important
}
.cheadToday a {
	color:white !important
}
.nogutter {
	border-left:1px solid #cde
}
.printborder {
	border-left:9px solid #c3d9ff;
	border:1px solid black;
	border-color: rgb(195, 217, 255); 
	background: rgb(195, 217, 255) none repeat scroll 0% 50%;
}
.more-no {
	visibility:hidden;
	position:absolute;
	cursor:pointer;
	width:15px;
	height:13px;
	top:3px;
	right:3px;
}.outmonthtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	cursor:pointer;
}
.todaytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #8bb5fc;
	cursor: hand;
}
.outtodaytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	cursor: hand;
}
.maskDiv {
	height:100%;
	width:102%;
	z-index:10;
	background-color:#FFFFFF;
	position:absolute;
	top:0;
	left:0;
	filter: Alpha(Opacity=80);
}
.eventDiv {
	z-index:20;
	background-color:#FFFFFF;
	position:absolute;
	top:0;
	left:0;
	border: 1px solid #7F9DB9;
}
.eventTitle {
	position:relative;
	width:100%;	
	height:20px;
	background-color: #8bb5fc;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-left:10px;
	padding-top:3px;
	margin-left:2px;
	margin-top:1px;
}

