/*  
	global.css
	皮肤全局样式,包含：
	Ext Toolbar的样式
	页面布局相关的样式(表单,流程)
*/

html,body{border:0;}

.x-border-layout-ct{
	background-color: #fff;
}

.x-grid3-cell-inner a{
	color: #672D2B;
}

/******Ext Toolbar对应的样式重写******/
.x-panel-tbar, .x-panel-tbar-noheader{
	background-color: #fff !important;
}
.x-tab-panel-body .x-toolbar{
	border-bottom: 0 !important;
}
.x-panel-bbar .x-toolbar{
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	background-color: #eee !important;
}

.x-toolbar{/*toolbar的样式*/
	background: url();
	background-color: #fff !important;		/*背景颜色*/
	border: 0;
	border-bottom: 0px solid #ddd;
	padding: 0;
	margin-bottom: 0px;
	/*padding-left: 15px !important;*/
}
.x-panel-tbar-noheader .x-toolbar{
	border: none;
}
.x-toolbar .x-btn{/*按钮左侧区域的样式(图片左边)*/
	background-color: #fff;
	border: 0px solid #ddd;
	margin-right: 1px;
}
.x-btn button{
	background-color: transparent;	
}
.x-toolbar .x-btn button, .x-toolbar .x-btn button span{
	font-family: Segoe UI,Microsoft YaHei;
	font-size: 12px;
	color: #000;
	font-weight: normal;
}
/*
table.x-btn{
	border: 1px solid #bbb !important;
	background: url(images/buttonBg.png) !important;
}
.x-btn button{
	background-color: transparent;	
}
.x-toolbar .x-btn button, .x-toolbar .x-btn button span{
	font-family: Segoe UI, Microsoft YaHei, Segoe UI;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}
*/
.x-toolbar .ytb-sep{/*toolbar按钮最左侧显示的一个td,一般是一根竖线*/
	display: none;				/*显示(不显示)*/
}
.x-toolbar .x-btn-left{/*按钮左侧区域的样式(图片左边)*/

}
.x-toolbar .x-btn-right{/*按钮右侧区域的样式(文字右边)*/

}
.x-toolbar .x-btn-center{/*按钮区域的样式*/

}
.x-toolbar .x-btn-center .x-btn-text{/*按钮的样式*/
	padding: 0 0 0 18px;
	font-weight: bold !important;
}
.x-toolbar .x-btn-left{/*鼠标经过时   按钮左侧区域的样式*/
	background: url(images/tb-btn-sprite.gif) no-repeat 0 0;
}
.x-toolbar .x-btn-right{/*鼠标经过时   按钮右侧区域的样式*/
	background: url(images/tb-btn-sprite.gif) no-repeat 0 -21px;
}
.x-toolbar .x-btn-center{/*鼠标经过时   按钮区域的样式*/
	background: url(images/tb-btn-sprite.gif) repeat-x 0 -42px;
}
.x-toolbar .x-btn-over .x-btn-center .x-btn-text{
	color: #24303C;
}



.x-panel-body-noheader, .x-panel-mc .x-panel-body{
	border: none !important;
}
.x-tab-panel-body, .x-tab-panel-header{
	border: none !important;
	background-color: #fff;
}



/******tab页对应的样式******/
ul.x-tab-strip-top {/*tab页头部对应的样式*/
	background: transparent;		/*背景(透明)*/
	border: none;				/*边框(无)*/
	border-bottom: 1px solid #C7AEA9 !important;
	padding-left: 5px !important;
}
ul.x-tab-strip-top li{
	margin-left: 3px !important;
	margin-right: -1px;
	border-left: 1px solid #C7AEA9 !important;
	border-right: 1px solid #C7AEA9 !important;
	border-top: 1px solid #C7AEA9 !important;
	
}
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{/*未被选中时,tab页对应的样式*/
	background: url(images/tabBg.jpg);
}
.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner{
	background: url(images/tabActiveBg.jpg) !important;
}
.x-tab-strip-top .x-tab-strip-over .x-tab-right,.x-tab-strip-top .x-tab-strip-over .x-tab-left,.x-tab-strip-top .x-tab-strip-over .x-tab-inner{
	background: url(images/tabBg.jpg);
}
/*被选中时,tab页左右两侧对应的样式*/
.x-tab-strip-top .x-tab-strip-active .x-tab-right,.x-tab-strip-top .x-tab-strip-active .x-tab-left,.x-tab-strip-top .x-tab-strip-active .x-tab-inner{
	background: url(images/tabActiveBg.jpg) !important;
	star:expression(this.onFocus=this.blur());
}
.x-tab-strip-top .x-tab-strip-over .x-tab-inner{
	background-image: url() !important;
}
.x-tab-strip-top .x-tab-strip-over .x-tab-strip-text{

}
.x-tab-strip-top .x-tab-strip-active .x-tab-right,.x-tab-strip-top .x-tab-strip-active .x-tab-left,.x-tab-strip-top .x-tab-strip-active .x-tab-inner{
	star:expression(this.onFocus=this.blur());
}
.x-tab-strip-top span.x-tab-strip-text{/*未被选中时,tab页中字体对应的样式*/
	font-family: Microsoft YaHei;
	font-size: 12px;
	/*color: #3B5998;*/
	color: #333;
}
.x-tab-strip-top .x-tab-strip-active .x-tab-strip-text{/*被选中时,tab页字体区域对应的样式*/
	font-family: Microsoft YaHei;
	font-size: 12px;
	font-weight: bold;			/*字体宽度*/
	color: #000;				/*字体颜色*/
	
}


/******布局样式相关css[表单,流程]******/
#layoutDiv{	/*包含表格(主表和子表)最外层div对应的样式*/
}
#layoutDiv span{/*layoutDiv下span的样式*/
	word-break:break-all;
}
table.layouttable {/*主表表格样式*/
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
table.detailtable{/*子表表格样式*/
	border: 1px solid #ccc;	/*边框(宽度  样式  颜色)*/
}
table.layouttable caption,table.layouttable caption span,table.layouttable caption a{/*主表标题对应的样式(含标题中的span和a元素)*/
	font-family: Microsoft YaHei;
	font-size: 26px;			/*字体大小*/
	font-weight: normal;			/*字体重量(粗体)*/
	text-align: center;			/*文本对齐方式*/
	padding: 0 0 10px 0;
	color: #333;
	border: none;
}
table.layouttable tr{/*主表表格行对应的样式*/

}
table.layouttable td{/*主表表格列对应的样式*/
	border: 1px solid #ccc;	/*边框(宽度  样式  颜色)*/
}
table.layouttable span,table.layouttable textarea{/*主表表格中的span和多行文本对应的样式*/
	word-break:break-all;
}

table.detailtable td{/*明细表列对应的样式*/
	border: 1px solid #ccc;	/*边框(宽度  样式  颜色)*/
}
table.detailtable table{/*明细表中包含的table对应的样式*/
	border-width: 0px;			/*边框宽度*/
	margin-top: -1px;			/*上外边距*/
}
table.detailtable table td{/*明细表中包含的table中列对应的样式*/

	border: solid #ccc;		/*边框(样式  颜色)*/
	border-width:1 0 0 0;		/*边框宽度(上 右 下 左)*/
}
td.FieldName {/*表格中样式为FieldName的列对应的样式(主要针对主表每项文字标题所设置的样式)*/
	font-family: Microsoft YaHei;
	color: #000;
	text-decoration: none;				
	height: 23px;						/*高度*/
	border-bottom: 1px solid #edf0f5;	/*下边框(宽度  样式  颜色)*/
	padding-left: 6px;
}
td.FieldValue {/*表格中样式为FieldValue的列对应的样式(主要针对主表每项表单元素所设置的样式)*/
	font-family: Segoe UI, Microsoft YaHei;
	color: #000;
	padding-right: 6px;					/*内右边距*/
	padding-left: 6px;					/*内左边距*/	
	background-color: #eee;			/*背景颜色*/
	border-bottom: 1px solid #fff;		/*下边框(宽度  样式  颜色)*/
	height: 23px;						/*高度*/
}
td.FieldValue, td.FieldValue span, td.FieldValue span a {/*表格中样式为FieldValue的列对应的样式(主要针对主表每项表单元素所设置的样式)*/
	font-family: Microsoft YaHei;
}
input.inputstyle, input.inputstyle2, textarea.inputstyle3{
	border: 1px solid #ccc;
}






BUTTON.Browser {
	BACKGROUND-IMAGE: url(images/browser.png);
}
A.addfile{

}






/******文档查看页面css******/
button{
}
div, span{
	font-family: Microsoft YaHei, Segoe UI, Verdana, Tahoma;
	font-size: 12px;
}
#pagemenubar{
	padding: 0 0 0px 0;
	border-bottom: 0px solid #eee;
}
.docSubject{
	font-family: Microsoft YaHei, Segoe UI, Verdana, Tahoma;
	font-size: 26px;
	margin: 10px;
	text-align: center;
}
.docBaseProps{
	text-align: center;
	margin: 0 0 0 10px;
}
.docBaseProps span{
	font-family:;
	color: #999;
}
.docAbstract{
	color: #666;
	background-color: #fff5da;
	border: 1px solid #efe4b4;
	padding: 3px 0 3px 5px;
	margin: 10px 20px;
}
.docContent{
	margin: 10px 20px !important;
}
.docContent p{
	font-family: Segoe UI, Verdana, Tahoma;
}
.docAttach{

}
.docAttachFile{
	padding: 4px;
	border-bottom: 1px solid #eee;
}
#docattribute{
	margin-top: 10px;
}
#docAttributeWeb{
	margin: 10px;
}
#docRemark{
	margin-top: 5px;
}
.docSlogan{
	margin: 5px 0px 0 0px;
}
.slogan{
	color: green;
}

table.remarkItem{
	background-color: #EDEFF4;padding:6px;margin: 0 0 2px 0;
}
table.remarkItem td{
	vertical-align: top;
	padding: 5px 12px;
	line-height: 18px;
	color: #666;
}
td.remarkAvator{
	padding: 0!important;
	width: 40px;
	background-color: #fff;
}
td.remarkAvator img{
	width: 32px;
	height: 32px;
}
td.remarkArrow{
	width: 8px;
	padding: 0 !important;
	background-color: #fff;
	background-image: url(images/triangle.png);
	background-repeat: no-repeat;
	
}
.fontArial9{
	font-family:arial;font-size:10px !important;color:#999;
}
table.remarkItem td span a{
	color: #3B5998 !important;
}







a{
	font-family: Microsoft YaHei !important;;
}
table.requestTabTable tr.even{
	/*background-color: #FAEFD8;*/
	background-color: #f5f5f5;
}
table.requestTabTable tr.odd{
	background-color: #fff;
}
table.requestTabTable td{
	font-family: Microsoft YaHei !important;
	padding: 2px 0;
	border-bottom: 0px solid #ccc;
}
table.requestTabTable td a{
	font-family: Microsoft YaHei !important;
	color: #333 !important;
}
table.Econtent td.itemIcon{
	padding: 0 10px 0 0;
}